.youtubePlayerContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.projectIntroImageBox {
    flex-direction: row!important;
}

.projectLaptopImage {
    width: inherit;
}

.projectDetailsTwo {
    margin-left: 10rem;
}

@media only screen and (max-width: 900px) {
    .projectDetailBox {
        flex-direction: column;
    }
    .projectDetailsTwo {
        margin-left: 0;
    }
    
}